[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
timer = "*"
beautifulsoup4 = "*"
selenium = "*"
spotipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
